#logo img{
	height:50px;
	width:150px;
}
.enlace{
	text-decoration: none !important;
	color: #09688B !important; 
	font-weight: normal;
	border: 1px solid #09688B;
	padding: 2px 5px 2px 5px;
	min-width: 80px;
	font-size: 0.8em;
	
}
.enlace:hover{
	color: white !important; 
	background-color: #09688B !important;
}
.oculto{
	display: none;
}
.hidden{
	visibility: hidden;
}
.derecha{
	text-align: right;
}
.centrado{
	text-align: center;
}
.ultimos_examenes{
	text-align: center;
}
.ultimos_examenes table{
	margin: auto;
	width: 100%;
}
.ultimos_examenes table tr:nth-child(1){
	background-color: #047DB6;
	color: #FFFFFF;
}
.ultimos_examenes table tr td{
	border-bottom: 1px solid #222222;
}
/* columna de fecha */
.ultimos_examenes table tr td:nth-child(1){
	width: 20%;
}
/* columna de fecha */
.ultimos_examenes table tr td:nth-child(2){
	width: 50%;
}
/* columna de fecha */
.ultimos_examenes table tr td:nth-child(3){
	width: 20%;
	
}
#barra{
	min-height: 25px;
}
.procesando{
	text-align: center;
	background-color: #FF5555;
	color: #FFFFFF;
	border-radius: 10px;
	width: 20%;
	margin: auto;
}
.imagen_procesando{
	background-color: rgba(255,255,255,0);
	margin: auto;

}
#ver_resultados{
	display: none;
}
#tabla_respuestas{
	width: 100%;
}
#tabla_respuestas tr td{
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	font-size: 0.8em;

}
#tabla_respuestas .cabecera_tabla td{
	font-size: 1.1em;
	color: #3333CC;
	text-align: center;

}
#observaciones .observacion{
	background-color: #CCCCCC;
	font-size: 0.8em;
	width: 80%;
	margin: 10px;
	padding: 3px 10px 3px 10px;
	border-radius: 5px;
}
#respuestas{
	margin:auto;
	margin-top: 30px;

}
#docentes{
	text-align: center;
	padding: 8px 10px 8px 10px;
	background-color: #AAFFAA;
	color:#000000;
}
#docentes .docente{
	margin: 3px 15px 3px 0px;
	background-color: #44967D;
	color: #FFFFFF;
	padding: 3px 6px 3px 6px;
	border-radius: 6px;
}
select{
	margin: 5px 0px 5px 0px;
}
#curs_materias{
	max-width: 50%;
}


.cabecera_tabla{
	background-color: #5C9CCC;
	color: #FFFFFF;

}
.cabecera_tabla td{
	padding: 4px 10px 4px 10px;
	font-size: 0.9em;
	text-align: center;
}
.tabla_flat{
	width: 600px;
	margin: auto;
	border-collapse: collapse;
}
.tabla_flat tr td{
	border: 1px solid grey;


}
#anio_examen{
	min-width: 170px;
}
#turno_examen{
	min-width: 450px;
}
#llamado_examen{
	min-width: 100px;
}
#tabla_resumen_turno_exa, #tabla_horarios_examen{
	width: 80%;
	min-width: 500px;
	margin: 15px auto 15px auto;
	border: 1px solid #444444;
}
#tabla_resumen_turno_exa tr.encabezado, #tabla_horarios_examen tr.encabezado{
	background-color: #4297d7;
}
#tabla_resumen_turno_exa tr.encabezado td, #tabla_horarios_examen tr.encabezado td{
	color: #EEEEEE;
	font-size: 1.1em;
	padding: 2px 7px 2px 7px;

}
#tabla_resumen_turno_exa tr.encabezado td:nth-child(1), #tabla_horarios_examen tr.encabezado td:nth-child(1){
	width: 60%;
}
#tabla_resumen_turno_exa tr.encabezado td:nth-child(2), #tabla_horarios_examen tr.encabezado td:nth-child(2){
	width: 10%;
}
#tabla_resumen_turno_exa tr.encabezado td:nth-child(3), #tabla_horarios_examen tr.encabezado td:nth-child(3){
	width: 10%;
}
#tabla_resumen_turno_exa tr.encabezado td:nth-child(4), #tabla_horarios_examen tr.encabezado td:nth-child(4){
	width: 10%;
}
#tabla_resumen_turno_exa tr.encabezado td:nth-child(5), #tabla_horarios_examen tr.encabezado td:nth-child(5){
	width: 10%;
}
#tabla_resumen_turno_exa tr.materia:nth-child(odd), #tabla_horarios_examen tr.materia:nth-child(odd){
	background-color: #BBE2FF;
}
#tabla_resumen_turno_exa tr td, #tabla_horarios_examen tr td{
	font-size: 0.8em;
	padding: 2px 10px 2px 5px;
}
#apellido_ingresante{
	width: 70%;
}

/* TABLA DE FECHAS DE REGULARIZADAS */
#contenedor_fechas_regularizadas{
	width: 70%;
	background-color: #EEEEEE;
	margin: 20px auto 20px auto;
}
#tabla_fechas_regularizadas th{
	background-color: #4297d7;
	line-height: 1.5em;
	color: #FFFFFF;
}
#tabla_fechas_regularizadas{
	width: 100%;
}
#tabla_fechas_regularizadas tr td:nth-child(1){
	text-align: left;
	width: 60%;
}
#tabla_fechas_regularizadas tr td:nth-child(2){
	width: 20%;
}
#tabla_fechas_regularizadas tr td:nth-child(3){
	width: 20%;
}
#tabla_fechas_regularizadas tr:nth-child(odd){
	background-color: #FFFFFF
}
#tabla_fechas_regularizadas tr:nth-child(even){
	background-color: #C6E1F5;
}
#tabla_fechas_regularizadas tr td{
	
}
#tabla_fechas_regularizadas tr td{
	text-align: center;
	font-size: 0.8em;
	padding: 4px 0px 4px 10px;
}

#tabla_cert_pendientes{
	margin: 0px auto 0px auto;

}
#tabla_cert_pendientes th{
	border: 1px solid #333366;
	font-size: 0.9em;
	padding: 2px 5px 2px 5px;
	background-color: #297BAB;
	color: #FFFFFF;

}
#tabla_cert_pendientes{
	border-collapse: collapse;
}
#tabla_cert_pendientes tr td{
	border: 1px solid #444;
	border-collapse: collapse;
	padding: 4px 10px 4px 10px;
	font-size: 0.8em;	
}
#cert_pendientes a{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #4297D7;
	border: 1px solid #004400;
	margin-top: 15px;
	padding: 5px 15px 5px 15px;
}
.fila_ingresante{
	background-color: #EAFF77;
}
#coneau{
	width: 100%;
}
#tabla_coneau{
	width: 90%;
}
#tabla_coneau tr td{
	text-align: center;
	font-size: 0.9em;
}
.subtitulo_tabla {
	background-color: #ABD9FF;
	font-size: 0.8em;
	font-weight: bold;
}
#anios_anteriores{
	width: 45px;
	
}
#tabla_desercion{
	display: table-block;
	margin: 20px auto 20px auto;
}
#tabla_desercion td{
	text-align: center;
	font-weight: lighter;
	font-size: 0.8em;
}
#tabla_desercion th{
	text-align: center;
	font-weight: lighter;
	font-size: 0.8em;
}

#contenedor_estado_correlativas{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 90%;
}
.contenedor_lista_correlativas{
border: 1px solid #dcd3d3;
padding:30px;
}

.titulo_estado_correlativas{
	background-color:#5c9ccc;
	color:#FFF;
	padding: 5px 10px;
	font-size: 0.8rem;
}

.formulario{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 800px;
}
.contenedor_ef{
	margin: 5px 0px;
	min-width: 500px;
	padding: 3px 0px;
	width: 100%;
}
.contenedor_ef label{
	display:inline-block;
	font-size: 13px;
	min-width: 170px;
	text-align: right;
}
.contenedor_ef input[type='button']{
	position:relative;
	left: 400px;
}
.titulo_estado_correlativas{
	text-align: center;
	font-size: .9em;
	font-weight: bold;
}
.lista_estado_correlativas{
	padding: 0px 0px;
	margin-left: 30px;
}
.lista_estado_correlativas li{
    color:#409a40;
    font-size: 0.8em;
    margin: 0px;
    padding: 5px 0px;
}
.incumplido{
	color:#fb0000 !important;
	
}

